{% for link in menu %}
  <li>
    {%if (link.href and link.title) %}
      <a href="{{ link.href }}">{{ link.title }}
        {% if link.child is defined %}<b class="caret"></b>{% endif %}
      </a>
    {% endif %}
   {% if link.child is defined %}
      <ul>
        {% include "menu-links.twig" with {'menu': link.child} %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
